.container-white{
  background-color: #ffff;
  padding:30px;
  border-radius: 20px;
  margin:30px 0 30px 0;
}
.blog-section-title{
  text-align: center;
}
.pill{
  border: 1px solid rgb(206, 192, 192);
  border-radius: 10px;
  padding:10px;
  text-align: center;
}
.blog-section-subtitle h2{
  text-align:left;
  margin-top: 2rem;
}
.blog-card{
  box-shadow:2px 2px 5px 0px lightgreen;
  border-radius:20px;
  padding:20px;
  text-align:center;
  max-height:600px;
  min-height:600px;
}
.blog-card img{
  width:100%;
  border-radius: 10px;
  height: 250px;
}
.blog-title{
  text-align: center;
  justify-content: center;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 2px;
}
.blog-description{
  text-align: left;
  font-size: 0.75rem;
  padding: 10px;
}
.pill-section {
  margin-top:15px !important;
}
.blog-search{
  border:1px solid;
  padding:5px;
  border-radius: 10px;
  color:darkgray;
  align-items:center;
  float:right;
}
.blog-author{
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;

}
.publish-button{
  float:right;
}