.hexagon-container {
    position: relative;
    width: 200px;
    height: 115.47px; /* Adjust the height based on the desired size of the hexagon */
    background-color: #F8FFF7
  }
  
  .hexagon-content {
    position: relative;
    vertical-align:middle;
    /* width:150px;
    height: 115.47px;  */
    /* Adjust the height based on the desired size of the hexagon */
    /* background-color: #F8FFF7; */
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color:  #B3FF84;
    
   
  }
  
  .hexagon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
  }

  .square-content{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 310px;
    top: 268px;
    background-color: #10F034
  }
  .circle {
    width: 5px; /* Set the desired width */
    height: 5px; /* Set the desired height */
    border-radius: 50%; /* Make the element circular */
    background-color: red; 
    display: flex;
    /* Set the desired background color */
    /* Set the desired background color */
    /* Add any additional styles as needed */
  }
  .ReactModal__Content {
    background-image: url(../images/background.jpg);
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center center;
    /* ... other styling ... */
  }